body {
    background-color: black;
    color: white;
    font-family: Futura;
}

h1 {
    color: goldenrod;
    text-align: center;
}

nav ul {
    text-align: center;
   display: grid;
   grid-template-columns: repeat(auto-fit, 100px);
   grid-column-gap: 1em;
   justify-content: center;
   align-items: center;
}

nav ul li {
    color: red;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
}

nav ul li:hover {
    background-color: red;
    color: white;
}
/* 
.background-style {
    width: 100%; 
} */

/* img {
    width: 100%;
} */
